body { 
  background-size: cover;
}

h1 {
    text-align: center;
}

.checkWords {
    display: block;
    font-size: 16px !important;
    margin: 0 auto;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    opacity: .9;
    width: 65%;
}

.jumbotron {
    padding: 20px 60px;
}

.flexbox {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#warnNum {
    font-size: 14px;
    font-style: italic;
    color: red;
    display: inline;
    margin-left: 10px;
}

#warnTxt {
    font-size: 14px;
    font-style: italic;
    color: red;
    display: inline;
}

#pwdbox {
    height: 0;
    margin-bottom: 20px;
    padding: 0;
}

#password {
    visibility: hidden;
    font-family: monospace;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word; /* solves overflow issues */
    width: 100%;
    resize: none;
}

#copyPassword {
    visibility: hidden;
}

#sneaky {
    display: none;
    margin-top: -30px;
    margin-left: 0 !important;
    text-align: left !important;
}

.btn {
    text-align: center;
    width: 100%;
}

.hidden-xs {
    margin: 0;
}