body { 
  background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 10px !important;
}

.checkWords {
    display: block;
    font-size: 16px !important;
    margin: 0 auto;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    opacity: .9;
    width: 65%;   
    -webkit-animation-name: enter;
    -webkit-animation-duration: 1.5s;
    animation-name: enter;
    animation-duration: 1.5s;
}

@-webkit-keyframes enter {
    0% {margin-top: 50px; opacity: 0;}
    25% {margin-top: 50px; opacity: 0;}
    100% {margin-top: 0; opacity: .9;}
}

@keyframes enter {
    0% {margin-top: 50px; opacity: 0;}
    25% {margin-top: 50px; opacity: 0;}
    100% {margin-top: 0; opacity: .9;}
}


.jumbotron {
    padding: 20px 60px;
}

.flexbox {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#warnNum {
    font-size: 14px;
    font-style: italic;
    color: red;
    display: inline;
    margin-left: 10px;
}

#warnTxt {
    font-size: 14px;
    font-style: italic;
    color: red;
    display: inline;
}

#pwdbox {
    height: 0;
    margin-bottom: 20px;
    padding: 0;
}

#password {
    visibility: hidden;
    font-family: monospace;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word; /* solves overflow issues */
    width: 100%;
    resize: none;
}

#copyPassword {
    visibility: hidden;
}

#sneaky {
    display: none;
    margin-top: -30px;
    margin-left: 0 !important;
    text-align: left !important;
}

.btn {
    text-align: center;
    width: 100%;
}

.hidden-xs {
    margin: 0;
}

@media screen and (max-width: 980px) {
    .container {
        width: 95%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .prompts {
        font-size: 16px !important;
    }

    h1 {
        font-size: 24px;
    }

    #copyPassword {
        display: none;
    }

    .checkWords {
        font-size: 14px !important;
    }

    #sneaky {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 340px) {
    .container {
        width: 320px;
    }
}